@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: "Poppins", sans-serif;
    background-color: rgb(232, 232, 232);
    min-height: 100vh;
    display: grid;
    place-content: center center;
}

#my-container {
    background-color: white;
    border-radius: 12px 12px 25% 12px;
}

#my-container h5 {
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: gray;
    font-size: 0.8rem;
}

#my-container .form-control {
    font-weight: bold;
    background-color: white !important;
    border: 2px solid rgb(233, 229, 229);
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
    transition: none;
}

#my-container .form-control::placeholder {
    font-weight: bold;
    color: gray;
}

#my-container #inputs {
    min-height: 7rem;
}

#my-container .form-control:focus {
    box-shadow: none;
    border: 2px solid rgb(160, 128, 250);
}

.form-control::-webkit-inner-spin-button {
    display: none;
}

#my-container #inputs span {
    color: rgb(234, 61, 61);
    padding: 10px 0 0 0;
    font-size: 0.75em;
}

#my-container #arrow-container {
    display: flex;
    justify-content: right;
    align-items: center;
}

#my-container #arrow-container button {
    background-color: rgb(160, 128, 250);
    padding: 0.5rem;
    border-radius: 50%;
    position: relative;
    border: none;
    transition: all 0.4s ease-in-out;
}

#my-container #arrow-container button:hover {
    background-color: black;
}

#my-container #arrow-container .line {
    background-color: gray;
    min-width: 90%;
    min-height: 1px;
}

#my-container #results p {
    font-size: 3.5rem;
    font-weight: 800;
    margin: 0;
}

#my-container #results p span {
    color: rgb(160, 128, 250);
    font-size: 3rem;
}

.error-text {
    color: red;
    font-size: 0.72em;
    text-align: center;
}

@media(max-width: 960px) { 
    #my-container #arrow-container .line {
        margin: 2.5rem 0;
        background-color: gray;
        min-width: 100%;
        min-height: 1px;
        position: relative;
    }

    #my-container #arrow-container button {
        position: absolute;
        right: calc(50% - 2rem);
    }

    .error-text {
        font-size: 0.65em;
    }

    #my-container #results p {
    font-size: 2.5rem;
    }
}

